<body>
        <section class="infoContainer">
            <section class="h1Container">
                <% if (siteInfo.siteName.length > 8) { %>
                    <h1 style="font-size: 2rem; text-shadow: 3px 3px var(--color1);"><%= siteInfo.siteName %></h1>    
                <% } else { %> 
                    <h1><%= siteInfo.siteName %></h1>
                <% } %>
            </section>
            <nav>
                <a href="/renderSite/<%= siteInfo.siteName %>/<%= siteInfo._id %>"><div class="wipe"></div><button class="navContainer">
                    <span>Posts</span>
                </button></a>
                <a href="/siteProfile"><div class="wipe"></div><button class="navContainer">
                    <span>About <%= siteInfo.siteName %></span>
                </button></a>
                <a href="/calendar/siteEvents/id/<%= siteInfo._id %>"><div class="wipe"></div><button class="navContainer">
                    <span>Calendar</span>
                </button></a>
            </nav>      
        </section>    