<%- include('partials/header.ejs') -%>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/door.css">
</head>
<body>
    <!-- <section class="title">
    <h1>Welcome to <%= siteInfo.siteName %></h1>
    <a href="/logout">
        <button type="submit">Log Out</button>
    </a>
    </section> -->
    <section class="bigContainer">
        <div class="door"></div>
    <section class="intro">
        <h1>Posts for <%= siteInfo.siteName %> </h1>
    </section>
    <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <% const monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"] %>
                <p><%= monthNames[post.createdAt.getMonth()] %> <%= post.createdAt.getDate() %>,<%= post.createdAt.getFullYear() %>, <%= post.createdAt.getHours() > 12 ?  post.createdAt.getHours()-12: post.createdAt.getHours()%>:<%= post.createdAt.getSeconds() %><%= post.createdAt.getHours() > 12 ? 'pm': 'am' %></p>
            </section>
            <section class="title">
                <%= post.post %>
            </section>
            <% if (post.image) { %>
                <div class="media">
                    <img class="postImage" src="<%= post.image %>">
                </div>
            <% } %>    
        </li>
                
        <% } %>
    </ul>
    </section>

<%- include('partials/footer.ejs') -%>