<%- include('partials/header.ejs') -%>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <section class="title">
    <h1>Welcome to <%= siteInfo.siteName %></h1>
    <a href="/logout">
        <button type="submit">Log Out</button>
    </a>
    </section>
    <section class="bigContainer">
    <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <%= post.createdAt %>
            </section>
            <section class="title">
                <%= post.post %>
            </section>
            <% if (post.image) { %>
                <div class="media">
                    <img class="postImage" src="<%= post.image %>">
                </div>
            <% } %>    
        </li>
                
        <% } %>
    </ul>
    </section>
<%- include('partials/footer') -%>