<%- include ("partials/header.ejs") -%>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.js"></script>
        <link rel="stylesheet" href="/css/calendar.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/modal.css">
    </head>
    <script>
        const id = <%- JSON.stringify(siteInfo._id) %>
    </script>
    <body>
<%- include("partials/realHeader") %>        
<%- include ("partials/locationInfo") %>
        <section class="bigContainer">
            <div id="ec"></div>
    <!-- Modal structure taken from w3schools: https://www.w3schools.com/howto/howto_css_modals.asp -->
    
    <div id="getDetails" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
    <form action="/calendar/addEvent" method="POST">
        <h2 class="getEventTitle"></h2>
        <div class="getDesc"></div>
        <img class="getImg">
        <input type="hidden" class="eventId" name="eventId">
        <input type="hidden" class="siteId" name="siteId">
        <button type="submit">Add Event</button>
    </form>
    </div>

    </div>
        </section>
    <script type="text/javascript" src="/js/calendar.js"></script>
    </body>

    </html>

    <%- include('partials/footer') %>