<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Keys</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <div></div>
    <section class="bigContainer">
    <section class="post">
    <h2>Add a post</h2>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
        <label for="post" class="form-label">Post</label>
            <textarea class="form-control" id="post" name="post"></textarea>
        </div>
        <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
    </section>
    <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <%= post.createdAt %>
            </section>
            <section class="title">
                <%= post.post %>
            </section>
            <% if (post.image) { %>
                <div class="media">
                    <img src="<%= post.image %>">
                </div>
            <% } %>    
        </li>
                
        <% } %>
    </ul>
    
    </section>
    <header>
    <h1>Welcome to <%= siteInfo.siteName %>, <%= user.userName %></h1>
    <a href="/logout">
        <button type="submit">Log Out</button>
    </a>
    </header>
    <footer></footer>
</body>
</html>