<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
<%- include('partials/realHeader') %>
<%- include('partials/locationInfo') %>
    <section class="bigContainer">
    <section class="intro">
        <h1><%= siteInfo.siteName %></h1>
        <button id="myBtn">Add a Post</button>
    </section>
    <!-- <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <%= post.createdAt %>
            </section>
            <section class="title">
                <%= post.post %>
            </section>
            <% if (post.image) { %>
                <div class="media">
                    <img src="<%= post.image %>">
                </div>
            <% } %>    
        </li>
                
        <% } %>
    </ul> -->
    <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <% const monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"] %>
                <p><%= monthNames[post.createdAt.getMonth()] %> <%= post.createdAt.getDate() %>,<%= post.createdAt.getFullYear() %>, <%= post.createdAt.getHours() > 12 ?  post.createdAt.getHours()-12: post.createdAt.getHours()%>:<%= post.createdAt.getSeconds() %><%= post.createdAt.getHours() > 12 ? 'pm': 'am' %></p>
            </section>
            <section class="center">
                <section class="title">
                    <%= post.post %>
                </section>
                <% if (post.image) { %>
                <div class="media">
                    <img class="postImage" src="<%= post.image %>">
                </div>
                <% } %>
            </section>

        </li>
                
        <% } %>
    </ul>
    
    </section>

<!-- Modal structure taken from w3schools: https://www.w3schools.com/howto/howto_css_modals.asp -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
    <form class="postInput" action="/post/createPost" enctype="multipart/form-data" method="POST">
        <section class="options">
            <button type="button" id="close">Cancel</button>
            <section class="button">
                <button type="submit" class="btn" value="Upload">Post</button>
            </section>
        </section>
        <textarea class="form-control" maxlength="300" cols=70 rows="10" id="post" name="post"></textarea>
        <section class="input">
            <section class="file">
                Attach a file:
                <label for="imageUpload"><span><i class="fa-regular fa-image"></i></span></label>
                <input type="file" class="form-control" id="imageUpload" name="file">
            </section>
            <section class="charCount">
                <p>Character's Left: </p><p id="charCount">300</p>
            </section>
        </section>
        
    </form>
    </div>

    </div>
    <script type="application/javascript" src="/js/modal.js"></script>
<%- include("partials/footer") %>