<%- include('partials/header.ejs') -%>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/door.css">
</head>
<body>
    <!-- <section class="title">
    <h1>Welcome to <%= siteInfo.siteName %></h1>
    <a href="/logout">
        <button type="submit">Log Out</button>
    </a>
    </section> -->
    <section class="bigContainer">
        <div class="door"></div>
    <section class="intro">
        <h1>Posts for <%= siteInfo.siteName %> </h1>
    </section>
    <ul>
        <% for (const post of posts) { %>
        <li>
            <section class = "date">
                <% const monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"] %>
                <p><%= monthNames[post.createdAt.getMonth()] %> <%= post.createdAt.getDate() %>,<%= post.createdAt.getFullYear() %>, <%= post.createdAt.getHours() > 12 ?  post.createdAt.getHours()-12: post.createdAt.getHours()%>:<%= post.createdAt.getSeconds() %><%= post.createdAt.getHours() > 12 ? 'pm': 'am' %></p>
            </section>
            <section class="center">
                <section class="title">
                    <%= post.post %>
                </section>
                <% if (post.image) { %>
                <div class="media">
                    <img class="postImage" src="<%= post.image %>">
                </div>
                <% } %>
            </section>
            <section class="marqueeContainer">
                
                <section class="marquee">
                
                <% if (comments[post._id]) { %> 
                    
                    <p class="commentText" style="--i:<%=comments[post._id].length %>">
                    <% comments[post._id].forEach(comment =>{ %>
                        
                        <span>|</span> &emsp; 
                        <span><%=comment.user %>- </span>
                        <%= comment.comment %> 
                        &emsp; <span>|</span>
                        
                    <% }) %>
                    </p>
                <% } %>
                
                </section>
            </section>
            <section class="actions">
                <section class="buttons">
                    <form
                        action="/post/likePost/<%= post._id %>?_method=PUT"
                        method="POST"
                    >
                    <button class="btn"><span><i class="fa-solid fa-thumbs-up"></i></span><span class="likes"><%= post.likes %></span></button>
                    </form>

                    
                    <button class="btn comments"><span><i class="fa-solid fa-comment"></i></span></button>
                    
                    <button class="btn"><span><i class="fa-solid fa-thumbtack"></i></span></button>
                </section>
            </section>
            <section class="commentPopup">
                <form
                    action="/comment/createComment/<%= post._id %>/<%= siteInfo._id %>"
                    method="POST"
                >
                    <label for="comment">Your Comment:</label>
                    <textarea class="commentArea" id="comment" name="comment"></textarea>
                    <button class="submitComment">Add Comment</button>
                </form>
            </section>    
        </li>
                
        <% } %>
    </ul>
    </section>

<script type="text/javascript" src="/js/posts.js"></script>
<%- include('partials/footer.ejs') -%>